@import "../../../assets/variables.scss";

.teleop-upper-content{
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: relative;
    top: 80px;
    height: 54%;
    @media (min-width: 1023px) {
      height: 63%;
   }
   @media (min-width: 1440px) {
      height: 75%;
      padding: 40px;
   }
}

.content-teleop-upper{
   display: flex;
   width: 100%;
   justify-content: space-between;
   &-left{
      display: flex;
      flex-direction: column;
      width: 33%;
      height: 90%;
      @media (min-width: 1023px) {
         height: 100%;
     }
      &-title{
         @include subtitle;
         color: var(--dark_blue_background);
         margin-top: 20px;
         @media (min-width: 1023px) {
            margin-top: 30px;
        }
      }
      &-button{
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         &-move{
            width: 100%;
            background-color: var(--page_blocks);
            text-align: center;
            padding: 16px 0px;
            border-radius: 10px;
            color: var(--dark_blue_background);
            border: none;
            @include text-button;
            @media (min-width: 1023px) {
               padding: 32px 0px;
            }
            @media (min-width: 1440px) {
               padding: 64px 0px;
            }
            &:active{
               background-color: #0D1025;
               color: #fff;
            }
         }
         & a{
            text-decoration: none;
         }
         &-upper{
            width: 100%;
            background-color: var(--dark_blue_background);
            text-align: center;
            padding: 16px 0px;
            border-radius: 10px;
            color: #fff;
            border: none;
            @include text-button;
            @media (min-width: 1023px) {
               padding: 32px 0px;
            }
            @media (min-width: 1440px) {
               padding: 64px 0px;
            }
            &:active{
               background-color: #0D1025;
               color: #fff;
            }
         }
      }
   }
   &-center{
      display: flex;
      flex-direction: column;
      width: 33%;
      height: 90%;
      margin-top: -45px;
      @media (min-width: 1023px) {
         margin-top: -30px;
      }
      &-img{
         width: 60%;
         margin: auto;
         margin-top: 20px;
      }
      &-text{
         position: absolute;
         top: 50%;
         left: 50%;
         @include text-block;
         @media (min-width: 1440px) {
            top: 50%;
            left: 52%;
         }
      }
   }
   &-right{
      display: flex;
      flex-direction: column;
      width: 33%;
      align-items: flex-end;
      gap: 16px;
      justify-content: center;
      &-up{
         background-color: var(--dark_blue_background) ;
         width: 90%;
         text-align: center;
         padding: 16px 0px;
         border-radius: 10px;
         border: none;
         @media (min-width: 1023px) {
            padding: 24px 0px;
         }
         @media (min-width: 1440px) {
            padding: 40px 0px;
         }
         &:active{
            background-color: #0D1025;
         }
      }
      &-back{
         background-color: var(--dark_blue_background) ;
         width: 90%;
         text-align: center;
         padding: 16px 0px;
         border-radius: 10px;
         border: none;
         @media (min-width: 1023px) {
            padding: 24px 0px;
         }
         @media (min-width: 1440px) {
            padding: 40px 0px;
         }
         &:active{
            background-color: #0D1025;
         }
      }
   }
}

.img-movingDown-pal{
   position: absolute;
   left: 50%;
   top: 80%;
   @media (min-width: 1023px) {
      left: 50%;
      top: 75%;
   }
   @media (min-width: 1440px) {
      left: 51%;
      top: 74%;
      width: 80px;
   }
}

.img-movingUp-pal{
   position: absolute;
   left: 50%;
   top: 80%;
   @media (min-width: 1023px) {
      left: 50%;
      top: 75%;
   }
   @media (min-width: 1440px) {
      left: 51%;
      top: 74%;
      width: 80px;
   }
}