:root {
    --page_background:      #FFFFFF;
    --page_blocks:          #D9D9D9;
    --dark_blue_background: #333366;

    --medium_grey: #818489;

    --font_primary:     #FFFFFF;
    --font_menu:        #333366;
    --font_menu_clicked:#FFFFFF;
    --font_header:      #FFFFFF;
    
    --battery_green:#2CF067;
    --battery_red:  #AE0101;
    --battery_text: #333366;

    --confirm:      #38AE01;
    --confirm_light:#2CF067;
    --warn:         #FF7032;
    --error:        #AE0101;

    --header:           #333366;
    --header_charging:  #33CCCC;
    --header_warning:   #FF7032;
    --header_error:     #AE0101;

    --IHM_button:         #333366;
    --IHM_button_pressed: #0D1025;
}